.button {
  width:100%;
  height:100%;
  border-radius: 5px;
  padding: 20px 80px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(44, 75, 80, 0.75);
  font-size: 2rem;
  font-family: 'Roboto';
  font-weight: 100;
  border: 1px solid #fff;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;

}

.button:hover {
  color: #989380;
  border: 1px solid #989380;
}

.blinds_container {
  display: flex;
}

.button_blinds {
  float: left;
}
